
#create-account-form-wrapper,
#sign-in-form-wrapper
{
    background-color: #2f343a;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    gap: 5px;
    
}



h1
{
    margin-bottom: 30px;
    text-align: center;
}

#create-account-form-wrapper label,
#sign-in-form-wrapper label
{
    font-size: 2rem;
}

#create-account-form-wrapper input,
#sign-in-form-wrapper input
{
    display: flex;
    padding: 5px;
    font-size: 1.75rem;
}

#createAccountBtn,
#signInToAccountBtn,
#switchToSignIn,
#switchToCreateAccount
{
    padding: 15px 10px;
    width: 100%;
}

.notActive
{
    display: none;
}

.errorMessage
{
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 1.5rem;
}

.successfulAccountCreationMessage
{
    text-align: center;
    color: rgb(21, 255, 0);
    font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
#create-account-form-wrapper,
#sign-in-form-wrapper
{
    padding: 100px;
}
}