
.content-wrapper {
  min-height: 90vh;
  position: relative;
}

#landing-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 15px;
  max-width: 530px;

}

#landing-description {
  margin: 35px 0;
  font-size: 1.75rem;
}

#landing-main-img {
  display: none;
}

@media screen and (min-width: 1050px) {

  .content-wrapper {
    
    padding-bottom: 20px;
  }
  #landing-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .left-content {

    height: auto;
    text-align: left;
    align-items: flex-start;
    padding: 0 15px 0 50px;

    max-width: 50%;
    width: 50%;
  }

  #landing-header {
    font-size: 8rem;
  }

  #landing-description {
    margin: 55px 0;
    font-size: 2rem;
  }

  #landing-main-img {
    display: block;
    height: 500px;
    align-self: center;
    position: absolute;
    right: 0;
    width: 50%;


  }
}
