html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #1d2127;
  color: white;
}

header {
  padding: 25px ;
  margin: 0 auto;
  max-width: 1280px;
}


.nav-links,
.nav-mobile,
.mobile-nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.nav-links
{
  display: none;
}


.nav-links-active
{
  display: flex;
  background-color: rgba(128, 225, 255, 0.185);

  padding: 20px 0;
  flex-direction: column;
  margin-top: 5px;  
}



nav a {
  color: white;
  text-decoration: none;
}

nav a:hover
{
  border-bottom: 2px rgba(128, 225, 255, 0.445) solid;
}

nav .active:hover,
.active
{
  border-bottom: 2px rgb(128, 225, 255) solid;
}

.nav-links {
  gap: 25px;
  list-style-type: none;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  width: 100vw;
  margin-bottom: 25px;

}

#greeting-content {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
 
}

#generateBooksBtn, #landing-btn {
  font-weight: bold;
  font-size: 1.7rem;
  padding: 15px 50px;
  
}

button
{
  border: none;
  border-radius: 5px;
  background-color: rgb(128, 225, 255);
  color: black;
}

button:hover
{
  background-color: rgb(158, 232, 255);
}

.BtnDisabled
{
  opacity: .4;
}

h1 {
  font-size: 5rem;
  margin-top: 100px;
}



#book-list,
#library-list {
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.bookCoverImg {
  width: 30%;
  margin-bottom: 50px;
}

.bookCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px 10px;
  background-color: #2f343a;

  width: 90%;
}

.bookCardRight {
  width: 100%;
  text-align: center;
}

.bookCard h2 {
  font-size: 2.4rem;
  font-weight: 300;
}

.bookCard h3 {
  font-size: 1.8rem;
  margin: 10px 0 25px;
}

p {
  font-size: 1.7rem;
  line-height: 30px;
}

.bookCardBtn {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {

  .nav-mobile
  {
    display: none;
  }

  nav,
  .nav-links
  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;

  }

  .nav-links
{
    gap: 50px;
    flex-direction: row;
    padding: 0;
    background-color: transparent;
}

  .bookCard {
    overflow: hidden;
    flex-direction: row;
  }

  .bookCardRight {
    width: 50%;
    text-align: left;
  }
}

@media screen and (min-width: 1000px) {
  .bookCard {
    width: 40%;
    height: 400px;
  }
}
